<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="LogFileDirectory" value="d:\temp\"/>
    <add key="LogFileBaseName" value="LogFile"/>
    <add key="EnableConsoleLogging" value="true"/>
    <add key="EnableFileLogging" value="true"/>
    <add key="EnableDatabaseLogging" value="true"/>
    <add key="ConnectionString" value="providerName..."/>
  </appSettings>
</configuration>